#audio {
    width: 500px;
    height: 40px;
    border: 2px solid red;
    box-sizing: border-box;
}

li+li+li {
    color: purple;
    font-size: 28px;
}

li+li {
    text-shadow: 4px -4px 0 black;
}

ol li {
    color: green;
}

footer > audio{
    box-shadow: 10px 5px 5px blue;
}

ol{
    margin-top: 300px;
}

footer {
    margin-top: 40px;
}